<?xml version="1.0" encoding="UTF-8"?>

<web-app  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	

	<!-- spring配置 -->
	<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:sys-root.xml</param-value>
        <!--  -->
    </context-param>
    <!-- spring监听器 -->
	<listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- spring防止内存溢出 -->
	<listener>
	<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
    <!-- 字符集 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- shiro filter -->
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	
	<!-- springmvc dispatcherservlet -->
	<servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
	        <param-name>contextConfigLocation</param-name>
	        <param-value>classpath:spring/spring-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
    <!--token生成器 -->
	<servlet>
		<servlet-name>tokenGenerate</servlet-name>
		<servlet-class>com.sinosoft.util.TokenGenerateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>tokenGenerate</servlet-name>
		<url-pattern>/springmvc.token</url-pattern>
	</servlet-mapping>
	
    <!-- bussinesslog filter -->
	<!-- <filter>
		<filter-name>LogFilter</filter-name>
		<filter-class>com.sinosoft.log.filter.LogFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	
    <mime-mapping>
  <extension>msi</extension>
  <mime-type>application/x-msi</mime-type>
  </mime-mapping>
    <!--finereport-->
    <servlet>  
    <servlet-name>ReportServer</servlet-name>  
    <servlet-class>com.fr.web.ReportServlet</servlet-class>  
    <load-on-startup>0</load-on-startup>  
	</servlet>  
	<servlet-mapping>  
	    <servlet-name>ReportServer</servlet-name>  
	    <url-pattern>/ReportServer</url-pattern>  
	</servlet-mapping> 
    	<!--超时设置 单位 分钟 -->
    <session-config>
    <session-timeout>60</session-timeout>
    </session-config>
    
    <error-page>
    	<error-code>404</error-code>
		<location>/error/404.html</location>
    </error-page>
    
    <error-page>
    	<error-code>500</error-code>
		<location>/error/500.html</location>
    </error-page>
    
    <welcome-file-list>
    	<welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
